<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>delete.Q</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="icon" href="/static/assets/assets-icons/delete-icon.png" type="image/x-icon">
        <link rel="shortcut icon" href="/static/assets/assets-icons/delete-icon.png" type="image/x-icon">

    </head>
    <body>
        <header class="cabecalho">
            <a href="/main" title="Menu" class="material-symbols-rounded">
                home
            </a>
            <div class="botoes_grupo">
                <a href="/delete" title="Voltar" class="material-symbols-rounded">
                    arrow_back
                </a>
                <a href="/page1" title="Menu Crud" class="imagem-menu">
                    <img src="/static/assets/assets-icons/crud-icon.png" alt="Ícone de Crud" class="imagem">
                </a>
            </div>
        </header>
        <main class="principal_delete">
            <div class="bloco_textos">
                <h1 class="bloco_titulo">
                    d<strong class="titulo_destaque2">elete</strong>
                </h1>
                <p class="bloco_subtitulo">
                    Escolha a sua
                    <strong class="subtitulo_alt">
                        ação
                    </strong>
                </p>
            </div>
            <div class="bloco_opcoes">
                <button id="btDeletarTabela" class="botao-opcao">
                    Deletar tabela
                </button>
                <button id="btDeletarLinha" class="botao-opcao">
                    Detetar linha específica
                </button>
            </div>
            <select id="tabelas" class="bloco_tabelas" name="tabelas">
                <option class="opcao" value="0">Selecione uma tabela</option>
                <option class="opcao" value="usuario">Usuário</option>
                <option class="opcao" value="musica">Música</option>
                <option class="opcao" value="artista">Artista</option>
                <option class="opcao" value="album">Álbum</option>
            </select>
            <div class="campos_usuario campos">
                <input type="text" class="campo" placeholder="Nome do usuário" name="nome_usuario">
                <input type="text" class="campo" placeholder="E-mail" name="email">
            </div>
            <div class="campos_musica campos">
                <input type="text" class="campo" placeholder="Título da Música" name="titulo_musica">
                <input type="text" class="campo" placeholder="Nome do Artista" name="nome_artista">
    
            </div>
            <div class="campos_artista campos">
                <input type="text" class="campo" placeholder="Nome do Artista">
            </div>
            <div class="campos_album campos">
                <input type="text" class="campo" placeholder="Título do Álbum" name="titulo_album">
                <input type="text" class="campo" placeholder="Nome do Artista" name="nome_artista">
            </div>
            <button id="botao-deletarTabela" class="campo_botao_enviar">Deletar tabela</button>
            <button id="botao-realizarBusca" class="campo_botao_enviar">Realizar busca</button>
            <button id="botao-deletarLinha" class="campo_botao_enviar">Excluir Linha</button>
            <div id="resultado" class="resultado"></div>
        </main>
        <footer class="rodape">
            <p class="rodape_texto">
                    Desenvolvido por Pedro Paulo para a matéria de Banco de Dados 1
            </p>
            <div class="rodape_links">
                <a href="https://github.com/pepepepu" class="rodape_link">
                    <img src="/static/assets/github-logo.png" alt="Ícone do GitHub" class="link-imagem">
                    <p class="link-label">
                        GitHub
                    </p>
                </a>
                <a href="https://www.linkedin.com/in/pp-oliveira/" class="rodape_link">
                    <img src="/static/assets/linkedin-logo.png" alt="Ícone do Linkedin" class="link-imagem">
                    <p class="link-label">
                        LinkedIn
                    </p>
                </a>
            </div>
        </footer>
        <script src="/static/javascript/delete.js"></script>
    </body>
</html> 